USE [master]
GO
/****** Object:  Database [train]    Script Date: 07/14/2017 09:39:05 ******/
CREATE DATABASE [train] ON  PRIMARY 
( NAME = N'train', FILENAME = N'C:\train.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'train_log', FILENAME = N'C:\train_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [train].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [train]
GO
/****** Object:  Table [dbo].[train_info]    Script Date: 07/14/2017 09:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[train_info](
	[train_no] [varchar](10) NOT NULL,
	[start_station] [varchar](20) NOT NULL,
	[arrival_station] [varchar](20) NOT NULL,
	[start_time] [varchar](20) NOT NULL,
	[arrival_time] [varchar](20) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[runtime] [varchar](20) NOT NULL,
	[mile] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_train_info] PRIMARY KEY CLUSTERED 
(
	[train_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[train_info] ([train_no], [start_station], [arrival_station], [start_time], [arrival_time], [type], [runtime], [mile]) VALUES (N'2559', N'赤峰', N'北京', N'7:00', N'21:00', N'普快', N'14', CAST(1280.00 AS Decimal(18, 2)))
